@using Tigwi.UI.Models.Account
@model Tigwi.UI.Models.Account.AccountEditViewModel

<div class="modal-header modal-header-edit-account">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Edit your Account</h3>
</div>
<script>
    
</script>

@using (Html.BeginForm("Edit", "Account", FormMethod.Post,null))
{    
    <div class="modal-body">

        @Html.LabelFor(m => m.Description)
        @Html.EditorFor(m => m.Description)
        @Html.ValidationMessageFor(m => m.Description)
        
        @Html.HiddenFor(m => m.AccountId)
        @Html.HiddenFor(m => m.ReturnController)
        @Html.HiddenFor(m => m.ReturnAction)

        <label for="addAAUser">Add another user</label>
        <input type="text" class="text-box single-line" id="addUser"/>
        <input type="hidden" name="editAcc2" id="isEdit"/>
        <button type="button" class="btn" data-url="@Url.Action("UserExists","User")" id="addUserButton"> add user</button>
        <div id="error-user-doesnt-exists"></div>
        <h5>Current users in the account</h5>
        <div id="userAdded"></div>

    </div>
    
    
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <button class="btn btn-primary" type="submit" id="submitEditAccountModalButton">Save your Changes !</button>
    </div>
}
