@using Tigwi.UI.Models
@using Tigwi.UI.Models.Account
@using Tigwi.UI.Models.User

@model ICollection<IListModel>

<script type="text/javascript">
    $(document).ready(function () {
        $('.editAcc2').click(function (event) {
            event.stopPropagation();
            $('#editAccountModal').modal('show');

            var name=$(this).attr('id');
            var accountId=name.substring(5,name.length);
            $.ajax({
                url: "@Url.Action("getAccount", "Account")",
                type: "POST",
                dataType: 'json',
                data: { 'accountId': accountId },
                success: function(data) {
                        $('#Description').val(data.Descr);
                        $('#AccountId').val(accountId);
                        $('#ReturnController').val("Home");
                        $('#ReturnAction').val("Index");
                }
            });   
        });
        $('#addAccountButton').click(function () {
            $.ajax({
                url: $(this).data("url"),
                type: "POST",
                dataType: 'json',
                data: { 'account': $('#addAccount').val() },
                cache: false,
                success: function (data) {

                    if (data.exists) {
                        var toAppend = "<div class=\"alert alert-info span2\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">×</button><span class=\"truncated-shorter\">" + $('#addAccount').val() +
                            '</span><input type="hidden" value="' + $('#addAccount').val() + '" name="AccountIds"/></div>';
                        $("#accountAdded").append(toAppend);
                    }
                    else {
                        // TODO
                        alert("fuck you I won't do what you tell me !");
                    }
                }
            });
            return false;
        });

        $('.checkboxfilter').change(function (event) {
                event.stopPropagation();
            var id=0;
            for (var user in lists)
            {
                var mustShow = false;
                for (var list in lists[user])
                {
                    if ($('#checkBox-' + lists[user][list])[0].checked)
                    {
                        mustShow = true;
                    }
                }
                if (mustShow)
                {
                    $('.poster-' + user).addClass('shown').show();
                        
                }
                else
                {
                    $('.poster-' + user).removeClass('shown').hide();
                }
                
            }
        }
        );

        $('.edit').click(function (event) {
            event.stopPropagation();
            $('#editListModal').modal('show');
            $('#isEdit').val(1);
            $('.modal-header-edit-list > h3').html('Edit a List');
            $('#submitEditModalButton').html('Edit list');

            var name=$(this).closest('div').next().attr('id');
            var listId=name.substring(5,name.length);
            $.ajax({
                url: "@Url.Action("getList", "List")",
                type: "POST",
                dataType: 'json',
                data: { 'listId': listId },
                success: function(data) {
                    $('#ListName').val(data.Name);
                    $('#ListDescription').val(data.Descr);
                    $('#ListId').val(listId);
                    $('#ListPublic').attr('checked',data.Public);
                    $("#accountAdded").html('');
                    for (var i = 0; i < data.Members.length; i++) {
                        var toAppend = "<div class=\"alert alert-info span2\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">×</button><span class=\"truncated-shorter\">" + data.Members[i] +
                            '</span><input type="hidden" value="' + data.Members[i] + '" name="AccountIds"/></div>';
                        $("#accountAdded").append(toAppend);
                    }
                }
            });   
        });

        $('.delete').click(function (event) {
            event.stopPropagation();
            $('#deleteListModal').modal('show');

            var name=$(this).closest('div').next().attr('id');
            var listId=name.substring(5,name.length);
            $.ajax({
                url: "@Url.Action("getList", "List")",
                type: "POST",
                dataType: 'json',
                data: { 'listId': listId },
                success: function(data) {
                    $('#deleteListName').html(data.Name);
                    $('#deleteListDescr').html(data.Descr);
                    $('#deleteListId').val(listId);
                    for (var i = 0; i < data.Members.length; i++) {
                        $("#deleteListMembers").append("<li>"+data.Members[i]+"</li>");
                    }
                }
            });
        });

        $('#addList').click(function (){
            $('#ListName').val('');
            $('#ListDescription').val('');
            $('#ListId').val('');
            $("#accountAdded").html('');
            $('#isEdit').val(0);
            $('.modal-header-edit-list > h3').html('Create a List');
            $('#submitEditModalButton').html('Create list');
        });

        $('.editAcc').click(function (event) {
            event.stopPropagation();
            $('#editAccountModal').modal('show');
            var name=$(this).attr('id');
            var accountId=name.substring(5,name.length);
            $.ajax({
                url: "@Url.Action("getAccount", "Account")",
                type: "POST",
                dataType: 'json',
                data: { 'accountId': accountId },
                success: function(data) {
                        $('#Description').val(data.Descr);
                        $('#AccountId').val(accountId);
                        $('#ReturnController').val("Account");
                        $('#ReturnAction').val("List");
                }
            });   
        });
    });
</script>

@{
    var listsOfMember = new Dictionary<Guid, HashSet<Guid>>();
    foreach (var list in Model)
    {
        foreach (var member in list.Members)
        {
            HashSet<Guid> lists;
            if (!listsOfMember.TryGetValue(member.Id, out lists))
            {
                lists = new HashSet<Guid>();
                listsOfMember.Add(member.Id, lists);
            }

            lists.Add(list.Id);
        }
    }
}
<script type="text/javascript">
        var lists = {
                        @foreach (var pair in listsOfMember)
                        {
                            @Html.Raw("'" + pair.Key + "': [")
                            foreach (var listId in pair.Value)
                            {
                                @Html.Raw("'" + listId + "', ")
                            }
                            @Html.Raw("], ")
                        };
                    };
</script>

<section class="listView">
    <ul>
        
        @foreach (var list in Model)
        {
            if (!list.IsPersonal)
            {
                <li>
                    <div class="listName accordion-toggle" data-toggle="collapse" href="#list-@list.Id">
                        <div class="row">  
                            <i class="icon-folder-close"></i>
                            <div style="display:inline-block">
                                <span class="truncated"> @list.Name </span>
                            </div>
                            @if (@list.Owner.Id == CurrentAccount.Id)
                            {
                                <i class="delete icon-trash pull-right"></i><i class="edit icon-pencil pull-right"></i>
                            } 
                        </div>                               
                        <div id="list-@list.Id" class="accordion-body collapse row">
                            <ul class="list-user">
                                @foreach (var member in list.Members)
                                {
                                    <li>
                                        <i class="icon-user"></i>
                                        <div style="display:inline-block">
                                            <span class="truncated">@member.Name</span>
                                        </div>
                                    </li>
                                    
                                }
                            </ul>
                        </div>
                    
                    </div>
                </li>
            }
        }
    </ul>
    <ul><i class="icon-plus"></i> 
        <a data-toggle="modal" href="#editListModal" id="addList" >Add List</a>
    </ul>

</section>

<section class="modal hide" id="editListModal">
    @Html.Partial("_EditListModal", new EditListViewModel())
</section>

<section class="modal hide" id="editAccountModal">
    @Html.Partial("_EditAccountModal", new AccountEditViewModel())
</section>

<section class="modal hide" id="deleteListModal">
    @Html.Partial("_ConfirmDeleteModal", null)
</section>


