@using Tigwi.UI.Models
@using Tigwi.UI.Models.Account
@using Tigwi.UI.Models.User

<script type="text/javascript">
    $(document).ready(function() {
        $('.editAcc').click(function(event) {
            event.stopPropagation();
            $('#userAdded').html('');
            $('#editAccountModal').modal('show');
            var name = $(this).attr('id');
            var accountId = name.substring(5, name.length);
            $.ajax({
                url: "@Url.Action("GetAccount", "Account")",
                type: "POST",
                dataType: 'json',
                data: { 'accountId': accountId },
                success: function(data) {
                    $('#Description').val(data.Descr);
                    $('#AccountId').val(accountId);
                    $('#ReturnController').val("Account");
                    $('#ReturnAction').val("List");
                    for (var i = 0; i < data.Users.length; i++) {
                        var toAppend = "<div class=\"alert alert-info span2\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">×</button><span class=\"truncated-shorter\">" + data.Users[i] +
                            '</span><input type="hidden" value="' + data.Users[i] + '" name="UserIds"/></div>';
                        $("#userAdded").append(toAppend);
                        }
                }
            });
        });

        $('#addUserButton').click(function () {
            $.ajax({
                url: $(this).data("url"),
                type: "POST",
                dataType: 'json',
                data: { 'user': $('#addUser').val() },
                cache: false,
                success: function (data) {

                    if (data.exists) {
                        var toAppend = "<div class=\"alert alert-info span2\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">×</button><span class=\"truncated-shorter\">" + $('#addUser').val() +
                            '</span><input type="hidden" value="' + $('#addUser').val() + '" name="UserIds"/></div>';
                        $("#userAdded").append(toAppend);
                    }
                    else {
                        var toAppend = "<div class=\"alert alert-error\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">×</button> The user "
                        + $('#addUser').val()
                        + ' doesn\'t exists.</div>';
                        $("#error-user-doesnt-exists").append(toAppend);
                    }
                }
            });
            return false;
        });

        $('.deltAcc').click(function() {
            $('#deleteAccountModal').modal('show');

            var name = $(this).attr('id');
            var accountId = name.substring(5, name.length);
            $.ajax({
                url: "@Url.Action("GetAccount","Account")",
                type: "POST",
                dataType: 'json',
                data: { 'accountId': accountId },
                success: function(data) {
                    $('#deleteAccountName').html(data.Name);
                    $('#deleteAccountId').val(accountId);
                }
            });
        });

        $('.leavAcc').click(function() {
            $('#leaveAccountModal').modal('show');

            var name = $(this).attr('id');
            var accountId = name.substring(5, name.length);
            $.ajax({
                url: "@Url.Action("GetAccount","Account")",
                type: "POST",
                dataType: 'json',
                data: { 'accountId': accountId },
                success: function(data) {
                    $('#leaveAccountName').html(data.Name);
                    $('#leaveAccountId').val(accountId);
                }
            });
        });

    });

</script>

<section class="accountsView">
        @foreach (var account in Model.Accounts)
        {
            <div class="inline">    
                <h3> @account.Name </h3>
                <a data-toggle="modal" href="#editAccountModal" class="editAcc followButton" id="acct-@CurrentAccount.Id" > ( <i class="icon-pencil"></i> Edit )</a>
            </div>
            if (@account.Admin.Id == CurrentUser.Id)
            {
                if (@account.Id != @CurrentUser.MainAccount.Id)
                { 
                    @*<button class="btn btn-primary deltAcc" id="delt-@account.Id" ><b>Delete</b></button>*@
                }       
            }
            else
            {
                <button class="btn btn-primary leavAcc" id="leav-@account.Id" ><b>Leave</b></button>
            }
            <p><b>Description : </b> @account.Description</p>
            <p><b>Users</b> : 
            @foreach (var user in @account.Users)
            {
                @(user.Login + " ")
            }
            </p>
        }
</section>

<section class="modal hide" id="editAccountModal">
    @Html.Partial("_EditAccountModal", new AccountEditViewModel())
</section>


