@using Tigwi.UI.Models

<script type="text/javascript">
    $(document).ready(function() {
        $('.editAcc').click(function(event) {
            event.stopPropagation();
            $('#editAccountModal').modal('show');
            var name = $(this).attr('id');
            var accountId = name.substring(5, name.length);
            $.ajax({
                url: "@Url.Action("getAccount","Account")",
                type: "POST",
                dataType: 'json',
                data: { 'accountId': accountId },
                success: function(data) {
                    $('#Description').val(data.Descr);
                    $('#AccountId').val(accountId);
                    $('#ReturnController').val("Account");
                    $('#ReturnAction').val("List");
                }
            });
        });

        $('.deltAcc').click(function(event) {
            event.stopPropagation();
            $('#deleteAccountModal').modal('show');

            var name = $(this).attr('id');
            var accountId = name.substring(5, name.length);
            $.ajax({
                url: "@Url.Action("getAccount","Account")",
                type: "POST",
                dataType: 'json',
                data: { 'accountId': accountId },
                success: function(data) {
                    $('#deleteAccountName').html(data.Name);
                    $('#deleteAccountId').val(accountId);
                }
            });
        });
    });

</script>

<section class="accountsView">
    <ul>

        @foreach (var account in Model.Accounts)
        {
            <li>
                <h2> @account.Name 
                <button class="btn btn-primary editAcc" id="acct-@account.Id" ><b>Edit</b></button>
                @if (@account.Admin.Id == CurrentUser.Id)
                {
                    if (@account.Id != @CurrentUser.MainAccountId)
                    { 
                        <button class="btn btn-primary deltAcc" id="delt-@account.Id" ><b>Delete</b></button>
                    }       
                }
                else
                {
                    <button class="btn btn-primary leavAcc" id="leav-@account.Id" ><b>Leave</b></button>
                    //TODO Write ConfirmLeaveModal
                }
                <p><b>Description : </b> @account.Description</p>
            </li>
        }
    </ul>
</section>


