@model Tigwi.UI.Models.IListModel

@{
    ViewBag.Title = "Details";
}

@section LeftInfos
{
        <div class="inline">
            <h3>@Model.Name </h3><span>(Owner : @Model.Owner.Name)</span>
        </div>
        <p>Description : @Model.Description</p>
        
        @if(User.Identity.IsAuthenticated)
        {
            @Html.Partial("_Follow", Model)
        }
        
        <h3>Account(s) :</h3>
        <li>
        @foreach(var account in Model.Members)
        {
            <i>@account.Name</i>
        }
        </li>

        <h3>Follower(s) :</h3>
        <li>
        @foreach(var account in Model.Followers)
        {
            <i>@account.Name</i>
        }
        </li>
}

@Html.Partial("_ViewPostList", Model.PostsBefore(DateTime.MaxValue, 10))