@model Tigwi.UI.Models.IAccountModel

@{
    ViewBag.Title = "Tigwi | "+Model.Name;
}

<script type="text/javascript">
    $(document).ready(function() {
        $('#followLink').click(function() {
            var id = "@Model.Id";
            $.ajax({
                url: "@Url.Action("Follow", "Account")",
                type: "POST",
                dataType: 'json',
                data: { 'id': id },
                success: function(data) {
                    alert("You are now following this account");
                }
            });
        });
    });
</script>        

@section LeftInfos
{
    <div class="inline" align="center"><h3>@Model.Name </h3>
    @if(User.Identity.IsAuthenticated){
        @Html.Raw("<a class=\"followButton\" href=\"#\" id=\"followLink\">( <i class=\"icon-star\"></i> Follow ) </a>")
    }
    </div>
    
    <p>@Model.Description</p>
    @if (User.Identity.IsAuthenticated)
    {
            
        @Html.Partial("_AccountPublicOwnedLists", Model)
    }
}

@Html.Partial("_ViewPostList", Model.PersonalList.PostsBefore(DateTime.MaxValue, 10))