@model Tigwi.UI.Models.IAccountModel

@{
    ViewBag.Title = "Show";
}

@section LeftInfos
{
        <h3>@Model.Name</h3>
        <p>@Model.Description</p>
        @if(User.Identity.IsAuthenticated)
        {
            @Html.Partial("_FollowPerson", Model)
            @Html.Partial("_AccountPublicOwnedLists", Model)
        }
}

@Html.Partial("_ViewPostList", Model.AllFollowedLists.PostsBefore(DateTime.MaxValue, 10))