@model Tigwi.UI.Models.IAccountModel

@{
    ViewBag.Title = "ShowAccount";
}

@section LeftInfos
{
        <h3>@Model.Name</h3>
        <p>@Model.Description</p>
        @if(User.Identity.IsAuthenticated)
        {
            @Html.Partial("_FollowPerson", Model)
            @Html.Partial("_AccountFollowedPublicLists", Model)
        }
}

@Html.Partial("_ViewPostList", Model.PersonalList.PostsAfter(DateTime.MinValue, 10))