@using Tigwi.UI.Models
@model Tigwi.UI.Models.IAccountModel

@{
    ViewBag.Title = "Home Page";
}

@section LeftInfos
{
    @if(User.Identity.IsAuthenticated)
    {
        <ul>
        <p>
        <a data-toggle="modal" href="#editAccountModal" class="btn btn-primary" id="editDirAccount" ><b>Edit Account</b></a>
        </p>
        <div id="accd-@CurrentAccount.Id">
        @if(!String.Equals(CurrentAccount.Description, ""))
        {    
           <p><b>Description : </b> @CurrentAccount.Description</p>
        }
        </div>
        </ul>
        
        @Html.Partial("_ListView", CurrentAccount.AllFollowedLists)
    }
    else
    {
        <p>Tigwi is fun and better than Twitter, which we copied entirely ! Cheers !</p>
    }
    
}

@if (ViewBag.error != null)
{
    <div class="alert alert-error">
        <button class="close" data-dismiss="alert">x</button>
        @ViewBag.error
    </div>
}

@if (User.Identity.IsAuthenticated)
{
    <div>@Html.Partial("_WriteMessage", new WritePostViewModel())</div>
    <div>@Html.Partial("_ViewPostList", Model.AllFollowedLists.PostsBefore(DateTime.MaxValue, 10))</div>
}
else
{
    <p>Some interesting messages here ...</p>
}