@using Tigwi.UI.Models
@model Tigwi.UI.Models.IAccountModel

@{
    ViewBag.Title = "Home Page";
}

@section LeftInfos
{
    @if(User.Identity.IsAuthenticated)
    {
        <ul>
        <p><b>Description</b> : <br />
        @CurrentAccount.Description </p>
        <i class="icon-pencil"></i>
        <a data-toggle="modal" href="#editAccountModal" id="editAccount" >Edit Account</a>
        </ul>
        @Html.Partial("_ListView", CurrentAccount.AllFollowedLists)
    }
    else
    {
        <p>Tigwi is fun and better than Twitter, which we copied entirely ! Cheers !</p>
    }
    
}

@if (ViewBag.error != null)
{
    <div class="alert alert-error">
        <button class="close" data-dismiss="alert">x</button>
        @ViewBag.error
    </div>
}

@if (User.Identity.IsAuthenticated)
{
    <div>@Html.Partial("_WriteMessage", new WritePostViewModel())</div>
    <div>@Html.Partial("_ViewPostList", Model.AllFollowedLists.PostsBefore(DateTime.MaxValue, 10))</div>
}
else
{
    <p>Some interesting messages here ...</p>
}