@using Tigwi.UI.Models
@using Tigwi.UI.Models.Account
@using Tigwi.UI.Models.User

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet"/>
        <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet"/>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet"/>
        <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
        
        <script type="text/javascript">
            $(document).ready(function () {
                $('.dropdown-toggle').dropdown();
                $('.dropdown input, .dropdown label').click(function (e) {
                    e.stopPropagation();
                });
            });
        </script>
        
    </head>

  <body>

      <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
              <div class="container-fluid">
                  <ul class="nav">
                      @if (@User.Identity.IsAuthenticated )
                      {
                          <li @((ViewBag.Cur == "Home") ? Html.Raw("class=\"active\"") : Html.Raw("class=\"\""))>@Html.ActionLink("Home", "Index", "Home")</li>
                          <li @((ViewBag.Cur == "Me") ? Html.Raw("class=\"dropdown active\"") : Html.Raw("class=\"dropdown \""))>  
                          <a href="#"
                             class="dropdown-toggle"
                             data-toggle="dropdown">
                              @CurrentAccount.Name
                              <b class="caret"></b>
                          </a>
                              <ul class="dropdown-menu">
                                  
                                  @foreach (var acc in CurrentUser.Accounts)
                                  {
                                      <li>@Html.ActionLink(acc.Name, "Index", "Home")</li> 
                                  }
                                  <li class="divider"></li>
                                  <li><a data-toggle="modal" href="#addAccountModal" >Add Account</a></li>
                              </ul>
                          
                          </li>
                          <li @((ViewBag.Cur == "Favs") ? Html.Raw("class=\"active\"") : Html.Raw("class=\"\""))>@Html.ActionLink("Favs", "Index", "Home")</li>
                      }
                      else
                      {
                          <li><a data-toggle="modal" href="#registerModal" >Register</a></li>
                          <li class="dropdown">
                              <a class="dropdown-toggle" href="#" data-toggle="dropdown">Login</a>
                              <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                                  @Html.Partial("_LogOnPartial", new UserLogOnViewModel())
                              </div>
                          </li>
                      }

                      <li class="divider-vertical"></li>
                      @Html.Partial("_Search", new SearchViewModel())
                      @if (@User.Identity.IsAuthenticated)
                      {
                          <li class="dropdown">
                              <a href="#"
                                 class="dropdown-toggle"
                                 data-toggle="dropdown">
                                  <i class="icon-cog icon-white"> </i>
                                  <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                  <li><a>item1</a></li>
                                  <li><a>item2</a></li>
                                  <li class="divider"></li>
                                  <li>@Html.ActionLink("Disconnect", "LogOut", "User")</li>
                              </ul>
                          </li>
                      }
                  </ul>
              </div>
          </div>
      </div>

      <div class="container-fluid">
          <section id="main">
              <div class="modal hide" id="registerModal">
                  @Html.Partial("_RegisterPartial", new RegisterViewModel())
              </div>
              <div class="modal hide" id="addAccountModal">
                  @Html.Partial("_CreateAccountPartial", new AccountCreationViewModel())
              </div>
              @RenderBody()
          </section>

          <footer>
              <p>&copy; Tigwi 2012</p>
          </footer>
      </div>
      
  </body>
</html>

